* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ROBOT IMGAGE */
.snarky svg {
  position: fixed;
  top: 16px;
  left: 16px;
  cursor: pointer;
  height: 2.5rem;
}

/* SNARKY COMMENT */
.comment {
  font-family: "LouisGeorgeCafe";
  position: fixed;
  left: 24px;
  top: 72px;
  margin-right: 16px;
  max-width: 250px;
  height: auto;
  background-color: rgb(105, 255, 230);
  padding: 5px 5px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 0.8rem;
  box-shadow: 0 0 10px 2px var(--blackish);
}

/* ARROWS FOR CHANGING COLORS */
.arrow-container {
  position: fixed;
  display: block;
  justify-content: space-between;
  left: 64px;
  top: 16px;
}

.arrow-left {
  width: 16px;
  display: block;
  margin-bottom: 8px;
}

.arrow-right {
  width: 16px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 425px) {
  .comment {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .comment {
    font-size: 1.1rem;
    max-width: 400px;
  }

  .arrow-container {
    display: none;
  }

  .snarky svg {
    height: 3rem;
  }
}

/* ANIMATIONS & KEYFRAMES */
.animation {
  animation-name: jiggle;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(25deg);
  }
  30% {
    transform: rotate(-25deg);
  }
  45% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  75% {
    transform: rotate(25deg);
  }
  90% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
