* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.snarky svg {
  position: fixed;
  top: 16px;
  left: 16px;
  height: 3.5rem;
}

.robot-light {
  fill: rgb(255, 94, 0);
}

.triangle {
  width: 10px;
  height: 10px;
  border-bottom: solid 20px rgb(240, 255, 105);
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  margin-bottom: 5px;
  transition: 0.2s all linear;
}

.comment {
  font-family: "LemonMilk";
  position: fixed;
  left: 24px;
  top: 80px;
  margin-right: 16px;
  width: auto;
  height: auto;
  background-color: rgb(105, 255, 230);
  padding: 5px 5px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 0.8rem;
  box-shadow: 0 0 10px 2px var(--blackish);
}

@media screen and (min-width: 400px) {
  .comment {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .comment {
    font-size: 1.1rem;
  }
}
