* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MagicMushroom";
  src: local("MagicMushroom"),
    url(../Fonts/MagicMushroom_woff2.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "LouisGeorgeCafe";
  src: local("LouisGeorgeCafe"),
    url(../Fonts/Louis_George_Cafe.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "LouisGeorgeCafe";
  src: local("LouisGeorgeCafe"),
    url(../Fonts/Louis_George_Cafe_Bold.woff2) format("woff2");
  font-weight: bold;
}

:root {
  --neutral-color: rgb(71, 96, 238);
  --correct-color: rgb(71, 238, 146);
  --wrong-color: rgb(216, 89, 106);
  --whiteish: rgb(241, 241, 241);
  --blackish: rgb(46, 46, 46);
}

body {
  --color: var(--neutral-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 1000vh;
  background-color: var(--color);
  transition: 0.4s all linear;
}

body.correct {
  --color: var(--correct-color);
}
body.wrong {
  --color: var(--wrong-color);
}

.hide {
  display: none;
}

.surprise {
  position: fixed;
  right: 24px;
  bottom: 16px;
  font-size: 2rem;
  cursor: pointer;
}

.info {
  position: fixed;
  left: 24px;
  bottom: 16px;
  font-size: 2rem;
  cursor: pointer;
}

.info-container {
  position: fixed;
  left: 16px;
  bottom: 68px;
  width: 340px;
  height: auto;
  background-color: rgb(105, 255, 230);
  color: var(--blackish);
  padding: 5px 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.65rem;
  box-shadow: 0 0 10px 2px var(--blackish);
  font-family: "LouisGeorgeCafe";
}

.dad-emoji {
  position: fixed;
  right: 16px;
  top: 8px;
  font-size: 3.5rem;
  cursor: pointer;
}

.dad-joke {
  font-family: "LouisGeorgeCafe";
  position: fixed;
  right: 24px;
  margin-left: 24px;
  top: 80px;
  width: 250px;
  height: auto;
  background-color: rgb(105, 255, 230);
  padding: 5px 5px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 0.8rem;
  box-shadow: 0 0 10px 2px var(--blackish);
}

/* MEDIA QUERIES */
@media screen and (min-width: 400px) {
  .info-container {
    width: auto;
    height: auto;
    font-size: 0.9rem;
    font-weight: lighter;
  }

  .dad-joke {
    font-size: 1rem;
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .dad-joke {
    font-size: 1.1rem;
  }

  .info-container {
    font-size: 1.1rem;
  }
}

/* REMOVE THE SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}
