@font-face {
  font-family: "Mountain of christmas";
  src: local("Mountain of christmas"),
    url(../Fonts/Mountains_of_Christmas/MountainsofChristmas-Bold.woff2)
      format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Mountain of christmas";
  src: local("Mountain of christmas"),
    url(../Fonts/Mountains_of_Christmas/MountainsofChristmas-Regular.woff2)
      format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Mountain of christmas";
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, red, blue, green);
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  font-size: 4rem;
  border-top: 4px solid white;
  text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.5);
}

#title:before {
  content: "CHRISTMAS";
  position: absolute;
  bottom: -40px;
  left: 0;
  font-size: 2.2rem;
  width: 100%;
  text-align: center;
}
